@{
    ViewData["Title"] = "Rejoignez-nous";
}

<div class="text-center">
    <h1 class="text-success">Rejoignez Holestic Academy</h1>
    <p class="lead mt-3">Faites partie d’une communauté passionnée par l’éducation et le développement durable.</p>
    <a href="/Home/Contact" class="btn btn-lg text-white mt-3" style="background-color:#C0392B;">Nous contacter</a>
</div>
